
header{
    display: flex;
    height:13vh;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    background-color:#ffff;
}
header img{
    height: 200px;
}